header {
    background-color: #244751;
    color: #E8FDFF;
    font-family: 'Dancing Script', cursive;
}

body {
    background-color:whitesmoke;
    font-family: 'Quicksand', sans-serif;
    /* the original finstagram font is Roboto Condensed */
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo{
    transition: padding 0.5s;
}
a.photo:hover{
    padding: 10px;

}

